.inter-uni {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
    font-weight: 900;
  font-style: normal;
}

.raleway-uni {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
body{
    background-color: rgba(245, 248, 255, 1)
}
.text-primary{
    color: #23223b;
    font-weight: bold;
}
.gray{
color: #8987A1;
font-weight: 300;
}
.header{
    background-image: url(./Assets/Hero-bg.png);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 140px;
    padding: 30px 0;
}
.nav-title{
    color: #4E47FF;
    font-size: 34px;
    
}
.btn-primary{
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}
.btn-primary:hover{
 background-color: #817ed8;
 color: rgb(255, 255, 255);
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 18px;
}
.banner-content{
    color:#23223b;
    font-size: 30px;
    padding: 140px 0 180px 0;
    
}
.banner{
    text-align: center;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.section-title{
   
    margin-bottom: 10px;
    margin-top: 0;
    
}
.section-description{
    color: rgba(37, 36, 50, 0.5);
    font-size: 20px;
   margin-top: 0;
}

.action{
    display:flex;
    align-items: center;

    justify-content: space-between;
    margin:120px 0 120px 0 ;
   
    
   
}
span{
    font-size: 42px;
    color:#252432;
}

.action-content{
    max-width: 517px;
    /* padding: 62px 0;  */
   
}
img{
    border-radius: 48px;
}

.users{
    padding: 50px 142px;
    text-align: center;
    background-color:rgba(198, 217, 234, 0.491);
    border-radius: 24px;
    margin-bottom: 120px;
}
.user-title{
    font-size:38px;
    /* margin: 10px; */
    padding-bottom: 0;
   
   
}
.user-items{
    display: flex;
    justify-content: space-between;
   

}

.item-title{
    color:#4E47FF;
    font-size: 80px;
     margin: 0;
}
.item-description{
    color: grey;
    font-size: 20px;
    font-weight: normal;
    margin-top: 0;
}

.review-section-title {
    text-align: center;
    font-size: 40px;
}
.reviews{
    margin-bottom: 120px;
}
.review{
    background-color: rgb(255, 255, 255);
    padding: 24px;
    border-radius: 14px;
}
.review-container{
    display: flex;
    gap: 30px;
}

.review-info{    
   display: flex;
   gap: 14px;
   align-items: center;  
}
.reviewers h6{
   margin: 0px;
   color:#757575;
   font-size: 14px;
}
.reviewers p{
   margin: 0px;
   color:#B3B3B3;
   font-size: 14px;
}
.review-title{
    color:#1E1E1E;
}
.review-des{
    font-weight: normal;
    font-size: 15px;
}

.focus{
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 14px;
    padding: 70px 150px;
   margin-bottom: 120px;
}

.focus-content h3{
    font-size: 50px;
    margin: 0;
}
.focus-content p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}
.focus-content .btn-primary{
    margin-bottom: 20px;
}

.get-in-touch-section{
    
    padding: 71px 0;
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 120px;
}
.section-column{
    width: 50%;
}
.section-title  {
    font-size: 88px;
}
.get-in-touch-section input[type="email"], input[type="text"]{
 height: 50px;
 border-radius: 10px;
 background-color: #FFFFFF;
 border: 1px solid #D6DDED;
 display: block;
 width: 100%;
padding-left: 10px;
font-size: 18px;
margin-bottom: 10px;
}
.get-in-touch-section textarea{
 border-radius: 10px;
 background-color: #FFFFFF;
 border: 1px solid #D6DDED;
 height: 90px;
  width: 100%;
  padding-left: 10px;
  padding-top: 13px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  
}
.section-column .btn-primary{
    width: 103%;
    height: 50px;
}
label{
    font-weight: 700;
}

.logo{
    font-weight: bolder;
   color:#4E47FF;
    font-size: 80px;
     margin: 0;

}
.footer-content{
    text-align: center;
    background-color: #ffffff;
   align-items: center;
    padding: 100px;   
}
.footer-content ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 42px;
}
